<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.daqiang.blog.infra.mapper.RoleMapper">

    <resultMap id="roleBaseResultMap" type="dev.daqiang.blog.domain.entity.Role"
               extends="dev.daqiang.blog.infra.mapper.BaseEntityMapper.baseEntityResultMap">
        <id property="id" column="id" />
        <result property="roleName" column="role_name" />
    </resultMap>


    <resultMap id="roleResultMap" type="dev.daqiang.blog.domain.entity.Role" extends="roleBaseResultMap">
        <collection property="permissions" ofType="dev.daqiang.blog.domain.entity.Permission"
                    resultMap="dev.daqiang.blog.infra.mapper.PermissionMapper.permissionResultMap"
                    javaType="ArrayList" column="id">
        </collection>
    </resultMap>

    <sql id="roleColumns">
        id,
        role_name,
    </sql>


</mapper>